.navbar-brand {
  font-size: 2rem !important;
}

ul {
  list-style: none;
}

.showcase {
  background-image: url('./images/header-shape-desktop.png');
  background-color: #fff;
  background-size: 100% 95%;
  border-bottom-left-radius: 110px;
  height: 90vh;
  padding: 120px;
}

.intro {
  margin-top: 60px;
}

#portfolio {
  margin-top: 60px;
}

#portfolio .card {
  margin: 0 auto;
  max-width: 70%;
}

.aboutme {
  border-top-right-radius: 90px;
  border: none;
}

#contact {
  padding: 70px 0;
  background-image: url('./images/contact-form-desk-bg.png');
  background-size: cover;
  background-color: #6070ff;
  border-top-left-radius: 130px;
}

.p-text {
  width: 569px;
  margin: 0 auto;
}

.contact-form {
  width: 40%;
  margin: 0 auto;
}

.text-wrap p {
  width: 569px;
  font-size: 30px;
}
